<div class="content">
  <div class="text">
    <div class="title">
      <%= image_tag("profile_pictures/#{@image}", alt: "Charles's Profile Picture") %>
      <h1>Charles Harries</h1>
    </div>
    <div class="desc--wrap">
      <p class="desc">I'm a <strong>full-stack web developer</strong> based in Newcastle upon Tyne. I can spin up a web app in <strong>Rails, Node.JS, or PHP</strong> as easily as I can administrate a <strong>Wordpress</strong> backend. I'm a big fan of <strong>progressive enhancement</strong> and a believer in broad <strong>accessibility</strong> standards. But that doesn't mean I can't whip up some <strong>Javascript</strong> magic.</p>
      <p class="desc">I believe that the Volvo 240 was the best car ever made and that we let that one slip past us, and we've spent the past <%= Time.current.year - 1993 %> years paying for it.</p>
    </div>
    <nav class="nav nav--home">
      <ul>
        <li><%= link_to "Github", 'https://github.com/charlesharries' %></li>
        <li><%= link_to "CV", resume_path %></li>
        <li><%= link_to "Blog", posts_path %></li>
        <li><%= link_to "Contact", contact_path %></li>
      </ul>
    </nav>
  </div>
</div>
