<footer class="footer">
  <div class="footer-content">
    <%= render 'posts/back_to' if @post %>
    <div class="links">
      <div class="external">
        <nav>
          <ul>
            <li class="blue"><em>Find me on...</em></li>
            <li><%= link_to "Github", 'https://github.com/charlesharries' %></li>
            <li><%= link_to "Instagram", 'https://www.instagram.com/charlesharries/' %></li>
            <li><%= link_to "LinkedIn", 'https://www.linkedin.com/in/charles-harries-b73678a2/' %></li>
            <li><%= link_to "Twitter", 'https://twitter.com/charlesharries' %></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</footer>
