<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title><%= page_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>

    <!--<base href="http://charlesharri.es" />-->
    <meta name="description" content="Full stack web developer in Newcastle, UK. ES6, Rails, NodeJS, PHP, Wordpress, general-purpose hacking." />
    <meta name="robots" content="index,follow" />
    <meta name="subject" content="Web developer" />

    <!-- Open Graph stuff -->
    <meta property="og:site_name" content="Charles Harries" />

    <!-- Nunito Sans from google -->
    <link async href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,300i,600" rel="stylesheet"> 

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag "charles-favicon128.png" %>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-91023638-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-91023638-2');
    </script>

  </head>

  <body <%= session[:dark_mode] ? "class=dark" : '' %>>
    <%= render 'layouts/header' unless @disable_header %>
    <div class="notices">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>
    <%= yield %>
    <%= render 'layouts/footer' unless @disable_footer %>
    <%= render 'layouts/mobile_menu' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
